@import 'base'
@import 'boilerplate'

.table-description
    text-align right
    span
        margin auto 1em

table
    margin-top 1em

@media (min-width: 768px)
    div.sidebar
        + *
            padding-left 255px

    .sidebar
        background #401f3a
        position fixed
        top 0
        bottom 0
        width 240px

    .sidebar-nav
        padding 1em
        
        .navbar
            background #401f3a
            border-color #401f3a
            color white
            
            .navbar-collapse
                padding 0
                max-height none
            ul
                float none
                display block
            li
                float none
                display block
                a
                    padding-top 12px
                    padding-bottom 12px
                    color white
                    text-transform uppercase

                    &:hover, &:active, &:visited
                        color white

