@import 'base/vars'

body
  font-size 14px
  font-family 'Mukta Vaani', sans-serif

.user
  position fixed
  top -1px
  right -1px
  padding 1em
  -webkit-border-bottom-left-radius 3px
  -moz-border-radius-bottomleft 3px
  border-bottom-left-radius 3px
  background-color #FFFFFF
  border 1px solid #e4e4e4
  

.section-content
  margin-top 2em
  padding-left 2em
  padding-right 2em

h1
  margin 1em 0
  border-bottom 1px solid lighten(gray, 50%)
  font-family 'Roboto', sans-serif
  font-weight 100
  padding-bottom: .3em

.push
  float right

.text-right
  text-aligh right

.text-center
  text-align center

.left-separator
  border-left 1px solid #CECECE

.right-separator
  border-right 1px solid #CECECE

.bottom-separator
  border-bottom 1px solid #CECECE
  margin 1.5em 0

.hide
  display none

a
 color $palette_purple
 &:hover, &:focus
  color darken($palette_purple, 10%)

.logo
  font-family $logo-font
  font-size 2em

.text-danger
  color #e30000

.form
  &.text-danger
    font-size 14px
    margin-top -.5em