@import 'base/vars'

.btn, input
  border-radius 2px !important

.btn
  border-color transparent 

.btn-primary
  background-color $palette_purple

  &:hover
    background darken($palette_purple, 20%)
    border-color transparent

.btn-lnk
  color $palette_purple

.loader
  border 5px solid #e4e1e1
  border-top 5px solid $palette_purple
  border-radius 50%
  width 35px
  height 35px
  animation spin 2s linear infinite
  margin 10em auto 9em

@keyframes spin
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
