
@import 'components/sidebar'
@import 'components/metric-board'

@import 'base'
@import 'boilerplate'

.account-extension-cta
    background-color: #dadada
    position: absolute
    left: 0
    text-align: center
    padding: 1em

.alert
    > div
        > p
            padding-top .7em