
@import 'base'

//Color palette
$palette_grey = #f1f1f1

section
    &.title
        margin-top 6em
        margin-bottom 2em
        color white
    
    &.content
        padding-top 2em
    
    &.btn-controls
        text-align center
        padding-top 4em

        .btn
            margin-bottom 1em
        
        a
            color #929292
            &:hover
                color darken(#929292,10)

&.bicolor

    @media (max-width: $bp-md)
        background-color $palette_purple
        padding-bottom 4em
            
    @media (min-width: $bp-md)
        background-image linear-gradient(to bottom, $palette_purple, $palette_purple 83%, $palette_grey 17%)
        background-repeat no-repeat

.info-card
    text-align center
    background: white
    padding 1em 2em .5em 2em
    margin .5em auto
    min-height 310px
    width 250px
    border-radius 3px
    -webkit-box-shadow 1px 2px 4px rgba(0,0,0,0.2)
    -moz-box-shadow 1px 2px 4px rgba(0,0,0,0.2)
    box-shadow 1px 2px 4px rgba(0,0,0,0.2)

    @media (min-width: $bp-md)
        &.left
            margin-left 40%
        
        &.right
            margin-left -12%
    
    .card-content
        min-height 270px

    .img-chief
        height 100px

        .big
            padding-top 10px
        
        .amount
            padding-top 10px

    div.title
        padding-bottom 3em
        
        span 
            font-size 1.5em
            color #3b3b3b

    .standout
        font-size 1.3em

    img 
        &.avatar
            border-radius 50%
    
    i
        &.big
            font-size 5em
            color $palette_purple
        
        &.little
            color $palette_purple
            
    .card-description
        &.big
            font-size 3em
            font-weight bold            
            line-height .7em 
            color $palette_purple

    .amount
        font-size 4em
        font-weight bold
        color $palette_purple
    
    hr
        margin-top 0
        border-top 1px solid #e7e4e4

.btn-payment
    width 250px
    background-color $palette_yellow
    border-color $palette_yellow
    border-radius 3px
    -webkit-box-shadow 1px 2px 4px rgba(0,0,0,0.34)
    -moz-box-shadow 1px 2px 4px rgba(0,0,0,0.34)
    box-shadow 1px 2px 4px rgba(0,0,0,0.34)

    &:hover, &:active, &:focus, &:visited:focus
        background-color darken($palette_yellow, 5) !important
        border-color darken($palette_yellow, 8) !important
    
a
    &.go-back
        i        
            padding-right .5em

body
    background-color $palette_grey

.user.dark
    -webkit-box-shadow 1px 2px 4px rgba(0,0,0,0.2)
    -moz-box-shadow 1px 2px 4px rgba(0,0,0,0.2)
    box-shadow 1px 2px 4px rgba(0,0,0,0.2)
    color white
    border-color transparent
    z-index 1000
    background-color #782167

    a   
        color #b6aab6
        &:hover, &:active, &visited, &focus
            color #b6aab6