@charset "UTF-8";

@import "base/vars"

*
    margin 0
    padding 0

html, body, #wrap
    height 100%

body, span
    font-size $font-size-default_px    
    font-family $font-family-default
    font-weight 400

body   
    color $font-color-default
    & > #wrap
        height auto
        min-height 100%

#content
    padding-bottom 3em
    padding-top $navbar_height
    height 100%

.menu
    &.navbar
        margin-bottom 0
        height $navbar_height
        border-color $palette_purple
        @media (max-width: $bp-xs)
            height: 3.2em;
        & > div.container-fluid
            border 0
            padding-top .44em
            @media (max-width: $bp-xs)
                border-bottom 2px solid $navbar_color_hover

.menu.navbar,
#menu-navbar-collapse,
.menu.navbar > div.container-fluid    
    background-color $palette_purple

#menu-navbar-collapse
    @media (max-width: $bp-xs)    
        border 0

#menu-navbar-collapse
    @media (max-width: $bp-xs)
        border 0
        ul
            border-top 0
            margin-top -0.1em
        & > .navbar-right                
            li
                border-bottom 1px solid #690757
                &:first-child
                    border-top 0
                &:last-child
                    border-bottom 0
                a
                    font-weight 100
                    &:hover, &:focus
                        color #FFFFFF
                        background $navbar_color_hover

.navbar-default
    & .navbar-toggle 
        & .icon-bar
            background-color #FFFFFF
        &:hover, &:focus
            background $navbar_color_hover

.nav.navbar-nav.navbar-right
        @media (min-width: $bp-sm)
            margin-right 0 
        
.menu .logo, #footer .logo
    font-family $logo-font
    font-size 2em

a
    &.logo
        &:hover
            text-decoration none

.menu 
    & .logo
        color #FFFFFF
        &:hover
            color #FFFFFF

.navbar-default .navbar-nav > li > a
    font-weight 400
    background-color transparent
    color #FFFFFF
    @media (min-width: $bp-sm)
        color #FFFFFF
        font-weight inherit
        background-color #782167
          
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
    @media (min-width: $bp-sm)
        background-color darken($palette_purple, 8%)
        color #FFFFFF

#footer
    position relative
    margin-top - $footer_height
    height $footer_height
    clear both
    border 0
    background-color #FFFFFF
    border-top: 1px solid #dedede
    .logo
        float right
        padding-top 0.5em
        color $palette_black
        font-size toem(20)
        letter-spacing .03em

#footer .logo
    color $palette_purple
    float inherit

section
    &.highlighted
        &.info
            font-family 'Roboto', sans-serif
            padding-bottom 3.2em            
            h3                
                font-weight 100                
                font-size 1.5em
                color #FFFFFF
            p
                a
                    color #FFFFFF
                    font-size 1.5em
                    font-weight 800
                    font-family $font-family-default 
        @media (max-width: $bp-xs)
            padding 1em
            &.top
                padding 2em 2em 3em
        @media (min-width: $bp-sm)
            padding 3em 2em 4.5em

.bg-purple
    background-color $palette_purple
    color #FFFFFF
.bg-gray
    background-color $palette_dark-gray
    color #FFFFFF
                
.title
    padding-bottom 1em
    font-weight 100
    font-size 2.4em
    white-space pre-line
    font-family 'Roboto', sans-serif
    &-color    
        color $palette_purple
    @media (max-width: $bp-xs)
        font-size toem(28)

.item
    & > i
        margin-bottom .4em
        font-size 6em
        color $palette_purple
    h3
        & + strong
            font-size toem(24)
    & > div
        & > div
            & > div
                margin-bottom 1em
    li
        margin-bottom 1em
    & > .pull-left-sm
        & > div
            margin-top 3em
    @media (max-width: $bp-xs)
        margin 2em auto        
        .widget
            margin: 0 auto; 
        &.nopadding-r
            @media (max-width: $bp-sm)
                margin-top 0
                margin-bottom 0
    @media (max-width: $bp-xs) and (orientation : landscape)
        &.nopadding-r
            padding 0 4em   
    @media (min-width: $bp-sm)
        padding 0 2em 2em
        & > .pull-left-sm
            padding-left 0
                & > div
                    margin-top 35%
        &.nopadding-r
            padding-right 0
    @media (min-width: $bp-md)
        & > .pull-left-sm
            padding-left 3em
        
.container
    @media (max-width: $bp-xs)
        padding-right 0
        padding-left 0

.container-fluid
    &.extend
        padding-left 30px
        padding-right 30px

#footer
    & > .container-fluid
            padding-top .5em

.widget
    padding 2em
    background-color #FFFFFF
    color $palette_black    
    max-width 25em
    border-radius 3px
    @media (min-width: $bp-sm)
        width 90%    
    @media (min-width: $bp-lg)
        width 100%
    span
        font-size toem(46)
        color $palette_purple
    h4
        font-weight 800
    
    table
        margin 0 auto

.pull-right-sm
    @media (min-width: $bp-sm)
        float right

.pull-left-sm
    @media (min-width: $bp-sm)
        float left

.hr
    text-align center
    margin 20px auto
    width toem(180)
    border-top 1px solid #cec8c8

// Buttons

.btn
    display inline-block
    color #FFFFFF
    text-decoration none
    padding toem(10) toem(16)
    border 0
    text-align center
    padding .7em 2em
    margin-bottom .5em
    text-transform uppercase
    &-yellow
        background-color $palette_yellow
        color $palette_black
        &:hover, &:focus
            $navbar_color_hover
    &-gray
        color $palette_purple
        background-color #FFFFFF
        &:hover, &:focus
            darken($palette_dark-gray, 20%)
    &-white
        color #FFFFFF
        background-color transparent
        border 2px solid #FFFFFF
        btn-interactions()
        &:hover, &:focus
            color #FFFFFF
            background-color $navbar_color_hover
    &-lnk
        color $palette_purple
    &-lg
        @media (max-width: $bp-xs)
            font-size toem(14)






























