@import 'single'

body
    background-color $palette_purple

.btn
    text-transform uppercase
    padding .88em

.aditional
    padding 1em
    text-align center

h1
  &.logo
    text-align center
    margin-top .5em
    margin-bottom .8em
    font-size 3em
    color $palette_purple
    
    &, & *
        text-decoration: none
  & + h2
    font-size 1.5em
    margins .8em
    margin-bottom 1.2em