@font-face {
  font-family: 'BorisBlackBloxx';
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot");
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff2") format('woff2'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff") format('woff'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.ttf") format('truetype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.svg#borisblackbloxxregular") format('svg');
}
.btn,
input {
  border-radius: 2px !important;
}
.btn {
  border-color: transparent;
}
.btn-primary {
  background-color: #782167;
}
.btn-primary:hover {
  background: #601a52;
  border-color: transparent;
}
.btn-lnk {
  color: #782167;
}
.loader {
  border: 5px solid #e4e1e1;
  border-top: 5px solid #782167;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
  margin: 10em auto 9em;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
