.sidebar {
  background: #401f3a;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 240px;
}
.sidebar__accounts {
  display: inline-block;
  width: 50px;
  height: 100%;
  background-color: #33192e;
  float: left;
  padding: 1em 5px;
}
.sidebar__accounts .__account {
  display: block;
  height: 40px;
  width: 40px;
  border: 1px solid #783a6d;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  border-radius: 3px;
  margin-bottom: 0.5em;
  background-position: center;
  background-size: cover;
}
.sidebar__accounts .__account:hover {
  transform: scale(1.1);
}
.sidebar__accounts a > i {
  padding-top: 0.36em;
}
.sidebar__accounts .btn {
  width: 40px;
  height: 40px;
  display: block;
  background-color: #944886;
  border: 1px solid #783a6d;
}
.sidebar__account-panel {
  width: 190px;
  display: inline-block;
  height: 100%;
}
.sidebar__account-panel .__account {
  display: block;
  height: 190px;
  background-color: $palette_purple;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  position: relative;
}
.sidebar__account-panel .__account .__account-pic {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid rgba(255,255,255,0.7);
  border-radius: 4px;
  margin-top: 30px;
  background-position: center;
  background-size: cover;
}
.sidebar__account-panel .__account .__account-name {
  font-weight: bold;
  font-size: 1.3em;
}
.sidebar__account-panel .__account .__account-screen-name {
  font-size: 1.1em;
}
.sidebar__account-panel .__account * {
  z-index: 10;
  position: relative;
}
.sidebar__account-panel .__account:before {
  content: "";
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.sidebar__account-panel .__item {
  display: block;
  line-height: 1.5em;
  color: #d6abcf;
  text-transform: uppercase;
  padding: 1.1em 1em;
}
.sidebar__account-panel .__item:hover {
  background-color: #5c2d53;
  text-decoration: none;
}
.sidebar__account-panel .__item i {
  padding-right: 1em;
}
.sidebar + * {
  padding-left: 255px;
}
@font-face {
  font-family: 'BorisBlackBloxx';
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot");
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff2") format('woff2'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff") format('woff'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.ttf") format('truetype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.svg#borisblackbloxxregular") format('svg');
}
.metrics-group {
  text-align: right;
  position: relative;
}
.metric {
  display: inline-block;
  padding-right: 1em;
  border-right: 1px solid #c5c5c5;
  width: 12em;
  height: 8em;
  vertical-align: top;
}
.metric__title {
  font-size: 1.7em;
}
.metric__data {
  font-size: 2em;
  font-weight: bold;
  color: #782167;
}
.metric__description {
  font-size: 0.85em;
}
.metric * {
  text-align: right;
}
.metric--left {
  position: absolute;
  left: 0;
  text-align: left;
}
@font-face {
  font-family: 'BorisBlackBloxx';
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot");
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff2") format('woff2'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff") format('woff'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.ttf") format('truetype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.svg#borisblackbloxxregular") format('svg');
}
body {
  font-size: 14px;
  font-family: 'Mukta Vaani', sans-serif;
}
.user {
  position: fixed;
  top: -1px;
  right: -1px;
  padding: 1em;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}
.section-content {
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}
h1 {
  margin: 1em 0;
  border-bottom: 1px solid #c0c0c0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding-bottom: 0.3em;
}
.push {
  float: right;
}
.text-right {
  text-aligh: right;
}
.text-center {
  text-align: center;
}
.left-separator {
  border-left: 1px solid #cecece;
}
.right-separator {
  border-right: 1px solid #cecece;
}
.bottom-separator {
  border-bottom: 1px solid #cecece;
  margin: 1.5em 0;
}
.hide {
  display: none;
}
a {
  color: #782167;
}
a:hover,
a:focus {
  color: #6c1e5d;
}
.logo {
  font-family: 'BorisBlackBloxx';
  font-size: 2em;
}
.text-danger {
  color: #e30000;
}
.form.text-danger {
  font-size: 14px;
  margin-top: -0.5em;
}
@font-face {
  font-family: 'BorisBlackBloxx';
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot");
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff2") format('woff2'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff") format('woff'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.ttf") format('truetype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.svg#borisblackbloxxregular") format('svg');
}
.btn,
input {
  border-radius: 2px !important;
}
.btn {
  border-color: transparent;
}
.btn-primary {
  background-color: #782167;
}
.btn-primary:hover {
  background: #601a52;
  border-color: transparent;
}
.btn-lnk {
  color: #782167;
}
.loader {
  border: 5px solid #e4e1e1;
  border-top: 5px solid #782167;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
  margin: 10em auto 9em;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.account-extension-cta {
  background-color: #dadada;
  position: absolute;
  left: 0;
  text-align: center;
  padding: 1em;
}
.alert > div > p {
  padding-top: 0.7em;
}
