@font-face {
  font-family: 'BorisBlackBloxx';
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot");
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff2") format('woff2'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff") format('woff'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.ttf") format('truetype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.svg#borisblackbloxxregular") format('svg');
}
body {
  font-size: 14px;
  font-family: 'Mukta Vaani', sans-serif;
}
.user {
  position: fixed;
  top: -1px;
  right: -1px;
  padding: 1em;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}
.section-content {
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}
h1 {
  margin: 1em 0;
  border-bottom: 1px solid #c0c0c0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding-bottom: 0.3em;
}
.push {
  float: right;
}
.text-right {
  text-aligh: right;
}
.text-center {
  text-align: center;
}
.left-separator {
  border-left: 1px solid #cecece;
}
.right-separator {
  border-right: 1px solid #cecece;
}
.bottom-separator {
  border-bottom: 1px solid #cecece;
  margin: 1.5em 0;
}
.hide {
  display: none;
}
a {
  color: #782167;
}
a:hover,
a:focus {
  color: #6c1e5d;
}
.logo {
  font-family: 'BorisBlackBloxx';
  font-size: 2em;
}
.text-danger {
  color: #e30000;
}
.form.text-danger {
  font-size: 14px;
  margin-top: -0.5em;
}
section.title {
  margin-top: 6em;
  margin-bottom: 2em;
  color: #fff;
}
section.content {
  padding-top: 2em;
}
section.btn-controls {
  text-align: center;
  padding-top: 4em;
}
section.btn-controls .btn {
  margin-bottom: 1em;
}
section.btn-controls a {
  color: #929292;
}
section.btn-controls a:hover {
  color: #787878;
}
@media (max-width: 992px) {
  .bicolor {
    background-color: #782167;
    padding-bottom: 4em;
  }
}
@media (min-width: 992px) {
  .bicolor {
    background-image: linear-gradient(to bottom, #782167, #782167 83%, #f1f1f1 17%);
    background-repeat: no-repeat;
  }
}
.info-card {
  text-align: center;
  background: #fff;
  padding: 1em 2em 0.5em 2em;
  margin: 0.5em auto;
  min-height: 310px;
  width: 250px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}
@media (min-width: 992px) {
  .info-card.left {
    margin-left: 40%;
  }
  .info-card.right {
    margin-left: -12%;
  }
}
.info-card .card-content {
  min-height: 270px;
}
.info-card .img-chief {
  height: 100px;
}
.info-card .img-chief .big {
  padding-top: 10px;
}
.info-card .img-chief .amount {
  padding-top: 10px;
}
.info-card div.title {
  padding-bottom: 3em;
}
.info-card div.title span {
  font-size: 1.5em;
  color: #3b3b3b;
}
.info-card .standout {
  font-size: 1.3em;
}
.info-card img.avatar {
  border-radius: 50%;
}
.info-card i.big {
  font-size: 5em;
  color: #782167;
}
.info-card i.little {
  color: #782167;
}
.info-card .card-description.big {
  font-size: 3em;
  font-weight: bold;
  line-height: 0.7em;
  color: #782167;
}
.info-card .amount {
  font-size: 4em;
  font-weight: bold;
  color: #782167;
}
.info-card hr {
  margin-top: 0;
  border-top: 1px solid #e7e4e4;
}
.btn-payment {
  width: 250px;
  background-color: #e6af2e;
  border-color: #e6af2e;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.34);
  -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.34);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.34);
}
.btn-payment:hover,
.btn-payment:active,
.btn-payment:focus,
.btn-payment:visited:focus {
  background-color: #e0a51b !important;
  border-color: #d29b19 !important;
}
a.go-back i {
  padding-right: 0.5em;
}
body {
  background-color: #f1f1f1;
}
.user.dark {
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  color: #fff;
  border-color: transparent;
  z-index: 1000;
  background-color: #782167;
}
.user.dark a {
  color: #b6aab6;
}
.user.dark a:hover,
.user.dark a:active,
.user.dark avisited,
.user.dark afocus {
  color: #b6aab6;
}
