@charset "UTF-8";
@font-face {
  font-family: 'BorisBlackBloxx';
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot");
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff2") format('woff2'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff") format('woff'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.ttf") format('truetype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.svg#borisblackbloxxregular") format('svg');
}
* {
  margin: 0;
  padding: 0;
}
html,
body,
#wrap {
  height: 100%;
}
body,
span {
  font-size: 18px;
  font-family: 'Mukta Vaani', sans-serif;
  font-weight: 400;
}
body {
  color: #333;
}
body > #wrap {
  height: auto;
  min-height: 100%;
}
#content {
  padding-bottom: 3em;
  padding-top: 3.75em;
  height: 100%;
}
.menu.navbar {
  margin-bottom: 0;
  height: 3.75em;
  border-color: #782167;
}
@media (max-width: 767px) {
  .menu.navbar {
    height: 3.2em;
  }
}
.menu.navbar > div.container-fluid {
  border: 0;
  padding-top: 0.44em;
}
@media (max-width: 767px) {
  .menu.navbar > div.container-fluid {
    border-bottom: 2px solid #6e1e5f;
  }
}
.menu.navbar,
#menu-navbar-collapse,
.menu.navbar > div.container-fluid {
  background-color: #782167;
}
@media (max-width: 767px) {
  #menu-navbar-collapse {
    border: 0;
  }
}
@media (max-width: 767px) {
  #menu-navbar-collapse {
    border: 0;
  }
  #menu-navbar-collapse ul {
    border-top: 0;
    margin-top: -0.1em;
  }
  #menu-navbar-collapse > .navbar-right li {
    border-bottom: 1px solid #690757;
  }
  #menu-navbar-collapse > .navbar-right li:first-child {
    border-top: 0;
  }
  #menu-navbar-collapse > .navbar-right li:last-child {
    border-bottom: 0;
  }
  #menu-navbar-collapse > .navbar-right li a {
    font-weight: 100;
  }
  #menu-navbar-collapse > .navbar-right li a:hover,
  #menu-navbar-collapse > .navbar-right li a:focus {
    color: #fff;
    background: #6e1e5f;
  }
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #6e1e5f;
}
@media (min-width: 768px) {
  .nav.navbar-nav.navbar-right {
    margin-right: 0;
  }
}
.menu .logo,
#footer .logo {
  font-family: 'BorisBlackBloxx';
  font-size: 2em;
}
a.logo:hover {
  text-decoration: none;
}
.menu .logo {
  color: #fff;
}
.menu .logo:hover {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  font-weight: 400;
  background-color: transparent;
  color: #fff;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: inherit;
    background-color: #782167;
  }
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover {
    background-color: #6e1e5f;
    color: #fff;
  }
}
#footer {
  position: relative;
  margin-top: -3em;
  height: 3em;
  clear: both;
  border: 0;
  background-color: #fff;
  border-top: 1px solid #dedede;
}
#footer .logo {
  float: right;
  padding-top: 0.5em;
  color: #333;
  font-size: 1.25em;
  letter-spacing: 0.03em;
}
#footer .logo {
  color: #782167;
  float: inherit;
}
section.highlighted.info {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 3.2em;
}
section.highlighted.info h3 {
  font-weight: 100;
  font-size: 1.5em;
  color: #fff;
}
section.highlighted.info p a {
  color: #fff;
  font-size: 1.5em;
  font-weight: 800;
  font-family: 'Mukta Vaani', sans-serif;
}
@media (max-width: 767px) {
  section.highlighted {
    padding: 1em;
  }
  section.highlighted.top {
    padding: 2em 2em 3em;
  }
}
@media (min-width: 768px) {
  section.highlighted {
    padding: 3em 2em 4.5em;
  }
}
.bg-purple {
  background-color: #782167;
  color: #fff;
}
.bg-gray {
  background-color: #333;
  color: #fff;
}
.title {
  padding-bottom: 1em;
  font-weight: 100;
  font-size: 2.4em;
  white-space: pre-line;
  font-family: 'Roboto', sans-serif;
}
.title-color {
  color: #782167;
}
@media (max-width: 767px) {
  .title {
    font-size: 1.75em;
  }
}
.item > i {
  margin-bottom: 0.4em;
  font-size: 6em;
  color: #782167;
}
.item h3 + strong {
  font-size: 1.5em;
}
.item > div > div > div {
  margin-bottom: 1em;
}
.item li {
  margin-bottom: 1em;
}
.item > .pull-left-sm > div {
  margin-top: 3em;
}
@media (max-width: 767px) {
  .item {
    margin: 2em auto;
  }
  .item .widget {
    margin: 0 auto;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .item.nopadding-r {
    padding: 0 4em;
  }
}
@media (min-width: 768px) {
  .item {
    padding: 0 2em 2em;
  }
  .item > .pull-left-sm padding-left 0 > div {
    margin-top: 35%;
  }
  .item.nopadding-r {
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  .item > .pull-left-sm {
    padding-left: 3em;
  }
}
@media (max-width: 767px) and (max-width: 768px) {
  .item.nopadding-r {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
.container-fluid.extend {
  padding-left: 30px;
  padding-right: 30px;
}
#footer > .container-fluid {
  padding-top: 0.5em;
}
.widget {
  padding: 2em;
  background-color: #fff;
  color: #333;
  max-width: 25em;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .widget {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .widget {
    width: 100%;
  }
}
.widget span {
  font-size: 2.875em;
  color: #782167;
}
.widget h4 {
  font-weight: 800;
}
.widget table {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .pull-right-sm {
    float: right;
  }
}
@media (min-width: 768px) {
  .pull-left-sm {
    float: left;
  }
}
.hr {
  text-align: center;
  margin: 20px auto;
  width: 11.25em;
  border-top: 1px solid #cec8c8;
}
.btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0.625em 1em;
  border: 0;
  text-align: center;
  padding: 0.7em 2em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.btn-yellow {
  background-color: #e6af2e;
  color: #333;
}
.btn-gray {
  color: #782167;
  background-color: #fff;
}
.btn-white {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}
.btn-white:hover,
.btn-white:focus {
  color: #fff;
  background-color: #6e1e5f;
}
.btn-lnk {
  color: #782167;
}
@media (max-width: 767px) {
  .btn-lg {
    font-size: 0.875em;
  }
}
