@font-face {
  font-family: 'BorisBlackBloxx';
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot");
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff2") format('woff2'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff") format('woff'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.ttf") format('truetype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.svg#borisblackbloxxregular") format('svg');
}
body {
  font-size: 14px;
  font-family: 'Mukta Vaani', sans-serif;
}
.user {
  position: fixed;
  top: -1px;
  right: -1px;
  padding: 1em;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
}
.section-content {
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}
h1 {
  margin: 1em 0;
  border-bottom: 1px solid #c0c0c0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding-bottom: 0.3em;
}
.push {
  float: right;
}
.text-right {
  text-aligh: right;
}
.text-center {
  text-align: center;
}
.left-separator {
  border-left: 1px solid #cecece;
}
.right-separator {
  border-right: 1px solid #cecece;
}
.bottom-separator {
  border-bottom: 1px solid #cecece;
  margin: 1.5em 0;
}
.hide {
  display: none;
}
a {
  color: #782167;
}
a:hover,
a:focus {
  color: #6c1e5d;
}
.logo {
  font-family: 'BorisBlackBloxx';
  font-size: 2em;
}
.text-danger {
  color: #e30000;
}
.form.text-danger {
  font-size: 14px;
  margin-top: -0.5em;
}
@font-face {
  font-family: 'BorisBlackBloxx';
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot");
  src: url("/fonts/borisblackbloxx/borisblackbloxx-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff2") format('woff2'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.woff") format('woff'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.ttf") format('truetype'), url("/fonts/borisblackbloxx/borisblackbloxx-webfont.svg#borisblackbloxxregular") format('svg');
}
.btn,
input {
  border-radius: 2px !important;
}
.btn {
  border-color: transparent;
}
.btn-primary {
  background-color: #782167;
}
.btn-primary:hover {
  background: #601a52;
  border-color: transparent;
}
.btn-lnk {
  color: #782167;
}
.loader {
  border: 5px solid #e4e1e1;
  border-top: 5px solid #782167;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
  margin: 10em auto 9em;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-size: 16px;
}
a.btn.btn-lnk {
  font-size: inherit;
}
a.btn.btn-lnk:hover {
  text-decoration: underline;
}
