@charset "UTF-8";

@font-face {
  font-family: "icons";
  src:url("/fonts/icons.eot");
  src:url("/fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("/fonts/icons.woff") format("woff"),
    url("/fonts/icons.ttf") format("truetype"),
    url("/fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dashboard-speed-streamline:before {
  content: "\61";
}
.icon-bubble-love-streamline-talk:before {
  content: "\62";
}
.icon-arrow-streamline-target:before {
  content: "\63";
}
