.sidebar {
  background: #242739;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 240px;
}
.sidebar__accounts {
  display: inline-block;
  width: 50px;
  height: 100%;
  background-color: #1d1f2e;
  float: left;
  padding: 1em 5px;
}
.sidebar__accounts .__account {
  display: block;
  height: 40px;
  width: 40px;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-bottom: 0.5em;
}
.sidebar__accounts .__account:hover {
  transform: scale(1.1);
}
.sidebar__account-panel {
  width: 190px;
  display: inline-block;
  height: 100%;
}
.sidebar__account-panel .__account {
  display: block;
  height: 190px;
  background-color: #00f;
  text-align: center;
  color: #fff;
  position: relative;
}
.sidebar__account-panel .__account .__account-pic {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-top: 30px;
  background-position: center;
  background-size: cover;
}
.sidebar__account-panel .__account .__account-name {
  font-weight: bold;
  font-size: 1.3em;
}
.sidebar__account-panel .__account .__account-screen-name {
  font-size: 1.1em;
}
.sidebar__account-panel .__account * {
  z-index: 10;
  position: relative;
}
.sidebar__account-panel .__account:before {
  content: "";
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.sidebar__account-panel .__item {
  display: block;
  line-height: 1.5em;
  color: #b2b6cf;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.1em 1em;
}
.sidebar__account-panel .__item:hover {
  background-color: #343853;
  text-decoration: none;
}
.sidebar + * {
  padding-left: 255px;
}

body {
  font-size: 12px;
}
