@import 'utils'

// Routes
static_root = '/'
img_root = static_root + 'img/'
font_root = static_root + 'fonts/'

@font-face
    font-family 'BorisBlackBloxx'
    src url(font_root + 'borisblackbloxx/borisblackbloxx-webfont.eot')
    src url(font_root + 'borisblackbloxx/borisblackbloxx-webfont.eot?#iefix') format('embedded-opentype'),
         url(font_root + 'borisblackbloxx/borisblackbloxx-webfont.woff2') format('woff2'),
         url(font_root + 'borisblackbloxx/borisblackbloxx-webfont.woff') format('woff'),
         url(font_root + 'borisblackbloxx/borisblackbloxx-webfont.ttf') format('truetype'),
         url(font_root + 'borisblackbloxx/borisblackbloxx-webfont.svg#borisblackbloxxregular') format('svg')

//Color palette
$palette_purple = #782167
$palette_blue = #BBCBCB
$palette_black = #333333
$palette_dark-gray = #333333
$palette_light-gray = #F1F1F1
$palette_yellow = #E6Af2E

// Reset
$font-color-default = $palette_black
$font-size-default_px = 18px
$logo-color-header = $palette_purple
$logo-color-footer = #FFFFFF
$logo-font = 'BorisBlackBloxx'
$font-family-default = 'Mukta Vaani', sans-serif

// Breakpoints
$bp-xs = 767px
$bp-sm = 768px
$bp-md = 992px
$bp-lg = 1200px

// - Navbar
$navbar_height_px = 60
$navbar_height = toem($navbar_height_px)

$footer_height_px = 48
$footer_height = toem($footer_height_px)

$navbar_color_hover = darken($palette_purple, 8%)