@import 'base/vars'

.metrics-group
  text-align right
  position relative

.metric
  display inline-block
  padding-right 1em
  border-right 1px solid #C5C5C5
  width 12em
  height 8em
  vertical-align top

  &__title
    font-size 1.7em

  &__data
    font-size 2em
    font-weight bold
    color $palette_purple

  &__description
    font-size .85em

  *
    text-align right

  &--left
    position absolute
    left 0
    text-align: left
