


$sidebar-width = 240px
$sidebar-color = #401f3a


$sidebar-account-panel-width = 190px
$sidebar-accounts-list-width = $sidebar-width - $sidebar-account-panel-width

.sidebar
  background $sidebar-color
  position fixed
  top 0
  bottom 0
  width $sidebar-width
  //border-right 1px solid darken($sidebar-color, 10%)

  &__accounts
    display inline-block
    width $sidebar-accounts-list-width
    height 100%
    background-color darken($sidebar-color, 20%)
    float left
    padding 1em 5px

    .__account
      display block
      height ($sidebar-accounts-list-width - (5*2))
      width ($sidebar-accounts-list-width - (5*2))
      border 1px solid lighten($sidebar-color, 20%)
      box-shadow 1px 1px 2px rgba(0,0,0,0.5)
      border-radius 3px
      margin-bottom .5em
      background-position center
      background-size cover

      &:hover
        transform scale(1.1)
      
    a > i
      padding-top .36em

    .btn
      width ($sidebar-accounts-list-width - (5*2))
      height ($sidebar-accounts-list-width - (5*2))
      display block
      background-color lighten($sidebar-color, 30%)
      border 1px solid lighten($sidebar-color, 20%)



  &__account-panel
    width $sidebar-account-panel-width
    display inline-block
    height 100%

    .__account
      display block
      height $sidebar-account-panel-width
      background-color $palette_purple
      background-position center
      background-size cover
      text-align center
      color white
      position relative


      .__account-pic
        display inline-block
        width 80px
        height 80px
        border 2px solid rgba(255,255,255,0.7)
        border-radius 4px
        margin-top 30px
        background-position center
        background-size cover

      .__account-name
        font-weight bold
        font-size 1.3em

      .__account-screen-name
        font-size 1.1em

      *
        z-index 10
        position relative

      &:before
        content ""
        background-color rgba(0,0,0,0.5)
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        z-index 1



    .__item
      display block
      line-height 1.5em
      color lighten($sidebar-color, 70%)
      text-transform uppercase
      padding 1.1em 1em

      &:hover
        background-color lighten($sidebar-color, 10%)
        text-decoration none

      i
        padding-right 1em


  & + *
    padding-left $sidebar-width + 15px