{% extends "account-manager.html" %}


{% block manager_content %}

    <h1>Pagos</h1>

  <div class="row">
      <div class="col-sm-6">
        <a href="{{extend_form_url}}" class="btn btn-primary">Extender cuenta</a>
        <p></p>
      </div>
  </div>

  <div class="row">
      <div class="col-sm-12">
          {% if tickets %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Realizado
                        </th>
                        <th>
                            Monto
                        </th>
                        <th>
                            Método
                        </th>
                        <th>
                            Duración de extensión (días)
                        </th>
                        <th>
                            Estado
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ticket.get_payment().created_at.strftime('%d/%m/%y')}}</td>
                            <td>{{ticket.get_payment().currency}} {{ticket.get_payment().mount}}</td>
                            <td>{{ticket.get_payment().processor}}</td>
                            <td>{{ticket.long}}</td>
                            <td> 
                                {% if ticket.consumed %} 
                                    Completado
                                {% else %}
                                    Procesando
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p>No se han realizado pagos para extender su suscripción.</p>
        {% endif %}
      </div>
  </div>

{% endblock %}