
{% extends "boilerplate.html" %}

{% block page_title %}
  {% if account_selected.screen_name %}  
    {{account_selected.screen_name}} -
  {% endif %}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/css/libs/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/libs/font-awesome/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="/css/libs/bootstrap-theme.min.css" /> -->
  <link rel="stylesheet" href="/css/editor.css" />
{% endblock %}

{% block page_content %}
<nav class="sidebar">
  <div class="sidebar__accounts">
    {% for account in user.get_accounts() %}
      <a class="__account" href="{{account.url_dashboard}}" style="background-image: url('{{account.image_url}}')"></a>
    {% endfor %}
    <a href="/account/add" name="Agregar cuenta" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i></a>
  </div>
  <div class="sidebar__account-panel">
    <a href="http://twitter.com/{{account_selected.screen_name}}" target="_blank" class="__account" style="background-image: url('{{account_selected.profile_banner_url}}')">
      <div class="__account-pic" style="background-image: url('{{account_selected.image_url}}')"></div>
      <div class="__account-name">
        {{account_selected.name}}
      </div>
      <div class="__account-screen-name">
        @{{account_selected.screen_name}}
      </div>
    </a>
    <a href="{{dashboard_url}}" class="__item"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a>
    <a href="{{audiences_url}}" class="__item"><i class="fa fa-tags" aria-hidden="true"></i>Keywords</a>
    <a href="{{payments_url}}" class="__item"><i class="fa fa-credit-card" aria-hidden="true"></i>Pagos</a>
    <div id="account_id" class="hide">{{account_selected.screen_name}}</div>
    <div id="endpoints_host" class="hide">{{endpoints_host}}</div>
  </div>
</nav>

<div class="container-fluid">

  <div class="section-content">
    {% block manager_content %}

    {% endblock %}
  </div>


  <div class="user">
    {{user.email}} <a href="{{logout_url}}">Salir</a>
  </div>
</div>
{% endblock %}
