
{% extends 'boilerplate.html' %}

{% block page_title %}
	Agregar cuenta - 
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/css/libs/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/single.css" />
{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-3 col-sm-6 text-center" style="margin-top: 2em;">
				<h2 class="text-center" style="margin: .8em">Agreguemos una cuenta de Twitter</h2>
				<p class="text-center">Asegúrate de haber iniciado sesión en Twitter con la cuenta que deseas agregar o de no estar logueado con cuenta alguna.</p>
				<a class="btn btn-info btn-lg" href="/auth/twitter">Agregar cuenta de Twitter</a>
				<div class="row">
					<a class="btn btn-lnk" href="https://twitter.com/" target="_blank">Ir a Twitter</a>
				</div>
			</div>
		</div>

	</div>

	  <div class="user">
		{{user.email}} <a href="{{logout_url}}">Salir</a>
	</div>
{% endblock %}


