{% extends "admin_panel.html" %}

{% block manager_content %}

    <h1>Dashboard</h1>

    <h2>Cuentas</h2>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-description">Cuentas activas: <strong>{{active_accounts}}</strong> <span>|</span>
            Cuentas registradas: <strong>{{registered_accounts}}</strong></div>
        </div>
    </div>
    
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cuenta</th>
                <th>Vencimiento</th>
                <th>Activa</th>
            </tr>
        </thead>
        <!--tfoot>
            <tr>
                <th>Nombre</th>
                <th>Cuenta</th>
                <th>Vencimiento</th>
                <th>Activa</th>
            </tr>
        </tfoot-->
        <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{account.name}}</td>
                    <td><a href="{{server_host}}/editor/{{account.screen_name}}/dashboard">{{account.screen_name}}</a></td>
                    <td>{{account.due_date}}</td>
                    <td>{{account.active}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}