{% extends "boilerplate.html" %}

{% block styles %}
  <link rel="stylesheet" href="/css/libs/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/libs/font-awesome/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="/css/libs/bootstrap-theme.min.css" /> -->
  <link rel="stylesheet" href="/css/admin_panel.css" />
{% endblock %}

{% block page_content %}
<div class="sidebar">
    <nav class="sidebar">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Socializr</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <div class="logo">Socializr</div>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
  
<div class="container-fluid">

  <div class="section-content">
    {% block manager_content %}
        
    {% endblock %}
  </div>

  <div class="user">
    <a href="{{logout_url}}">Salir</a>
  </div>
</div>
{% endblock %}
