
{% extends 'account-manager.html' %}

{% block manager_content %}

  <h1>Keywords</h1>

  {% for component in alert_components %}
  <div class="alert alert-warning alert-dismissible clearfix" role="alert">
      <div class="col-xs-12 col-sm-9">
        <p>
          {{component.message}}
        </p>
      </div>

    {% if component.url %}
      <div class="col-xs-12 col-sm-3">
        <a href="{{component.url}}" class="btn btn-warning pull-right" style="margin-top: .5em">{{component.text_button}}</a>
      </div>
    {% endif %}
  </div>
  {% endfor %}

  <div class="row">
      <div class="col-sm-6">
        <a href="{{url_audience_form}}" class="btn btn-primary">Añadir Keyword</a>
        <p></p>
      </div>

  </div>



  <div class="row">
    <div class="col-sm-9">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Keyword</th>
            <th>Agregado</th>
            <th>Efectividad</th>
            <th>Seguidores obtenidos</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for audience in account_selected.active_audiences %}
          <tr>
            <td>
              {{audience.search_query}}
            </td>
            <td>
              {{audience.created_at.strftime("%d/%m")}}
            </td>
            <td>
              {% if audience.n_interactions %}
                {{audience.get_successful_rate()}} %
              {% else %}
                Disponible en 2 días apróximadamente
              {% endif %}
            </td>
            <td>
              {{audience.n_success}}
            </td>
            <td>
              <a href="{{audience.url_archive}}" class="btn btn-warning">Archivar</a>
              {#
              	<a href="{{audience.url_delete}}" class="btn btn-danger">X</a>
              #}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-3">
      <h4>Tener en cuenta</h4>
      <ul>
        <li>
          Toda acción sobre la cuenta realizada por Socializr que no haya conseguido un nuevo seguidor es revertida pasadas 48 horas.
        </li>
        <br/>
        <li>
          Apoya tu adquisición de seguidores con la generación constante de contenido, especialmente contenido dirigido a las audiencias apuntadas con los keywords.
        </li>
        <br/>
        <li>
        Se recomienda un máximo de 10 keywords activas.
        </li>
        <br/>
        <li>
          Para cualquier duda, solicitud o recomendación contáctanos a <a href="mailto:hola@socializr.co">hola@socializr.co</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
