<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />	
	{% block page_meta %}
  <!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->	
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  {% endblock %}
	<title>
	  {% block page_title %}
    {% endblock %}		
  	Socializr
	</title>

  {% include 'favicon.html' %}

	<link href="https://fonts.googleapis.com/css?family=Mukta+Vaani:400,800|Roboto:100" rel="stylesheet"> 
  {% block styles %}
  {% endblock %}

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KWD6D98');</script>
	<!-- End Google Tag Manager -->
	
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWD6D98"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

</head>
	<body>
		{% block page_content%}
		{% endblock %}
		
		{% block js %}
		{% endblock %}



	</body>
</html>
