
{% extends "account-manager.html" %}

{% block manager_content %}
	<h1>Dashboard</h1>
	
	{% for component in alert_components %}
		<div class="alert alert-warning alert-dismissible clearfix" role="alert">
  			<div class="col-xs-12 col-sm-9">
				<p>
					{{component.message}}
				</p>
			</div>
			<div class="col-xs-12 col-sm-3">
				<a href="{{component.url}}" class="btn btn-warning pull-right" style="margin-top: .5em">{{component.text_button}}</a>
			</div>
		</div>
	{% endfor %}

	<div class="metrics-group">			
		<div class="metric--left">
			<div class="metric__title">
				Suscripción
			</div>
			<div class="metric__data">
				{% if subscription_remaining_days >= 0%} 
					{{subscription_remaining_days}}
				{% else %}
					0
				{% endif %}		
			</div>
			<div class="metric__description">días restantes de suscripción</div>
		</div>
			
		
		<div class="metric">
			<div class="metric__title">Crecimiento</div>
			<div class="metric__data" id="metric_new_followers">--</div>
			<div class="metric__description">nuevos seguidores en <span id="days_analyzed">0</span> días</div>
		</div>

		<div class="metric">
			<div class="metric__title">Rendimiento</div>
			<div class="metric__data" id="metric_average_followers">--</div>
			<div class="metric__description">nuevos seguidores diarios en promedio</div>
		</div>

		<!-- <div class="metric">
			<div class="metric__title">Efectividad</div>
			<div class="metric__data">-- %</div>
			<div class="metric__description">promedio para audiencias activas</div>
		</div> -->

		<div class="metric">
			<div class="metric__title">Proyección</div>
			<div class="metric__data" id="metric_forecast">--</div>
			<div class="metric__description">seguidores totales para 30 días</div>
		</div>

	</div>

	<div id="loader-followers_chart" class="loader" style="display:block"></div>
	<div id="followers_chart" style="width: 100%; height: 25em; display:none;">
	</div>

	<h3>Nuevos seguidores</h3>
	<div id="loader-new_followers_chart" class="loader" style="display:block"></div>
	<div id="new_followers_chart" style="width: 100%; height: 25em; display:none;">
	</div>

	{#
	<a href="/editor/{{account_selected.screen_name}}/engage">Engage: {{account_selected.screen_name}}</a>
	#}

{% endblock %}

{% block js %}
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/locale/es.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/js/endpoints_loader.js"></script>
<script type="text/javascript" src="/js/dashboard.js"></script>
<script src="https://apis.google.com/js/client.js?onload=init"></script>
{% endblock %}
