
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Hacer extesión</title>
</head>
<body>
	<form action="{{create_order_url}}" method="POST">
		<label for="mount">Monto</label>
		<input type="text" name="mount" />
		<input type="submit" value="Hacer Pago" />
	</form>
</body>
</html>