
{% extends "boilerplate.html" %}

{% block page_title %}
  {{account_selected.screen_name}} - Extensión de Cuenta -
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/css/libs/bootstrap.min.css" />
  <!-- <link rel="stylesheet" href="/css/libs/bootstrap-theme.min.css" /> -->
  <link rel="stylesheet" href="/css/libs/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/extension_form.css" />
{% endblock %}

{% block page_content %}
<div class="container-fuid bicolor">
  <div class="container">      
    <div class="row">
      <div class="col-xs-12">
        <div class="user dark">
          {{user.email}} <a href="{{logout_url}}">Salir</a>
        </div>
      </div>
    </div>    
    <section class="title">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2> <strong>Extensión de cuenta</strong></h2>
        </div>
      </div>
    </section>    
    <form action="{{url_create_order}}" method="POST" class="extension-form">
      <section class="content">
        <div class="row">
          {# info-card #}          
          <div class="col-xs-12 col-md-4">
            <div class="info-card left">
              <div class="row card-content">
                <div class="col-xs-12">
                  <div class="row" >
                    <div class="title">
                      <span>Cuenta</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="img-chief">
                      <img class="avatar" alt="" src="{{account_selected.image_url}}" width=90>
                    </div>
                  </div>
                  <div class="row">
                    <span class="text-capitalize standout"><strong>{{account_selected.name}}</strong></span>
                  </div>
                  <div class="row">
                    <a target="_blank" href="http://twitter.com/{{account_selected.screen_name}}">@{{account_selected.screen_name}}</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="text-right">
                  <i class="little fa fa-chevron-circle-right" aria-hidden="true"></i>                    
                </div>
              </div>
            </div>
          </div>
          {# /info-card #}

          {# info-card #}
          <div class="col-xs-12 col-md-4">
            <div class="info-card">
              <div class="row card-content">
                <div class="col-xs-12">                  
                  <div class="row" >
                    <div class="title">
                      <span>Extensión</span>
                    </div>
                  </div>                  
                  <div class="row">
                    <div class="img-chief">
                      <i class="big fa fa-calendar-check-o" aria-hidden="true"></i>
                    </div>
                  </div>                  
                  <div class="row">
                    <span id="time-extend" class="card-description big">1 Mes</span>
                    <input type="hidden" name="months_quantity" value="1">
                  </div>                  
                </div>
              </div>              
              <div class="row">
                <div class="text-right">
                  <i class="little fa fa-chevron-circle-right" aria-hidden="true"></i>                    
                </div>
              </div>
            </div>
          </div>
          {# /info-card #}
          
          {# info-card #}
          <div class="col-xs-12 col-md-4">
            <div class="info-card right">
              <div class="row card-content">
                <div class="col-xs-12">
                  <div class="row" >
                    <div class="title">
                      <span>Costo total</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="img-chief">
                      <div class="amount">
                        <span id="amount">{{price}} USD</span>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="card-description">
                      <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tbody><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/es/webapps/mpp/paypal-popup" title="Cómo funciona PayPal" onclick="javascript:window.open('https://www.paypal.com/es/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/logotipo_paypal_pagos.png" border="0" alt="Pague con PayPal" /></a><div style="text-align:center"><a href="https://www.paypal.com/es/webapps/mpp/why" target="_blank"><font size="2" face="Arial" color="#0079CD"><strong>Cómo funciona PayPal</strong></font></a></div></td></tr></tbody></table><!-- PayPal Logo -->
                    </div>
                  </div>
                </div>
              </div>              
              <div class="row">
                <div class="text-right">
                  <i class="little fa fa-check-circle" aria-hidden="true"></i>                    
                </div>
              </div>
            </div>
          </div>
          {# /info-card #}
        </div>
      </section>
    </div>  
  </div>
  <div class="container-fluid">
    <div class="container">
      <section class="btn-controls">
        <div class="row">
          <div class="col-sm-12">
            <input type="submit"class="btn btn-primary btn-lg btn-payment" value="Pagar ahora">      
          </div>  
          <div class="col-sm-12">
            <a href="{{url_dashboard}}" class="go-back btn btn-lg">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
                Volver al dashboard
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</form>
{% endblock %}
