
{% extends 'boilerplate.html' %}

{% block page_title %}
	Volver - Socializr
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/css/libs/bootstrap.min.css" />
{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-3 col-sm-6 text-center" style="margin-top: 2em;">
				<h2 class="text-center" style="margin: .8em">Esta cuenta ya existe</h2>
				<p class="text-center">La cuenta que has seleccionado ya se encuentra agregada en Socializr.</p>
				<a class="btn btn-info" href="/editor/{{screen_name}}/dashboard">Volver</a>
			</div>
		</div>

	</div>

 
{% endblock %}


