
{% extends 'account-manager.html' %}

{% block manager_content %}
  <h1>Editor de Keywords</h1>

  <div id="loader" class="row">
    <div class="col-sm-12">
      <h4>Cargando editor...</h4>
    </div>
  
  </div>
  <div id="editor_wrapper" class="row" style="display: none">
    <div class="col-sm-8">

        <form class="" action="{{audience_save_url}}" method="POST">
          <input name="account_key" type="hidden" value="{{account_selected.key.urlsafe()}}" />
          <div class="form-group">
            <input id="keyword_input" name="search_query" placeholder="¿De qué o cómo hablan tus potenciales seguidores?" type="text" class="form-control input-lg" required>
          </div>
          <div class="form-group text-right">
            <button id="view_audience" class="btn btn-primary">Consultar</button>
            <input type="submit" class="btn btn-success" value="Agregar Keyword">
          </div>
        </form>
        <br/>
        <div class="row">

          <div class="col-sm-6">

            <div id="keyword_explain">
              <h4>¿Qué es una Keyword?</h4>
              <p>
                Socializr llega a tus potenciales audiencias mendiante lo que éstas están
                diciendo o publicando, es decir, mediante sus tweets. Para ello
                es necesario indicarle a Socializr a que tweets debe apuntar mediante
                el uso de una o varias palabras que especifican cómo deben buscarse tweets. A estos
                conjuntos de palabras los llamaremos Keywords.

              </p>
              <br/>
              <h4>Pregúntate</h4>

              <ul>
                <li>¿Cuáles son los perfiles de tus clientes o audiencias? ¿Cuáles son sus intereses? ¿Son mayormente mujeres u hombres?</li>
                <li>¿De que están hablando tus audiencias objetivo en Twitter?</li>
                <li>
                  ¿Que hashtags usan?
                </li>
                <li>
                  ¿Quiénes son los influencers?
                </li>
                <li>
                  ¿Cuáles son los hashtags usados por la industria?
                </li>
                <li>
                  ¿Hay conversaciones en Twitter a las que puedas apuntar?
                </li>
              </ul>
              <br/>
              <h4>Tips</h4>
              <ul>
                <li>Usa la herramienta de <a href="http://analytics.twitter.com" target="_blank">analíticas de Twitter</a> para conocer los
                intereses de tus seguidores actuales.</li>
                <li>
                  Prueba diferentes tipos de keywords.
                </li>
                <li>
                  Déjalas funcionando al menos
                  una semana antes de decidir si cambiarlas o no.
                </li>
              </ul>
            </div>
            <div id="audience_sample">
              <h4>Audiencia Objetivo (Muestra)</h4>
              <table class="table table-striped">
                <tbody id="audience_list">
                </tbody>
              </table>
              <p id="audience_sample_message">

              </p>
              <div style="display:none">
                {% raw %}
                  <table>
                    <tbody id="user_template">
                    <tr>
                      <td>
                        <img src="{{profile_image_url}}" alt="">
                      </td>
                      <td>
                        <div>
                          <a href="{{user_url}}" target="_blank">
                            <strong>{{name}}</strong>
                          </a>
                        </div>
                        <div>
                          @{{screen_name}}
                        </div>
                        <p></p>

                        <p>
                          {{description}}
                        </p>
                        <p style="text-align: right;">
                          {{followers_count}} Seguidores
                        </p>
                      </td>
                    </tbody>
                    </tr>
                  </table>

                {% endraw %}

              </div>
            </div>
          </div>
          <div class="col-sm-6 left-separator">
            <h4>Cómo especificar una keyword</h4>
            <table class="table table-striped">
              <tr>
                <th>Keyword</th>
                <th>Encuentra Tweets....</th>
              </tr>
              <tr>
                <td>
                  hola twitter
                </td>
                <td>
                  Que contengan ambas palabras, no necesariamente en el orden
                  especificado
                </td>
              </tr>
              <tr>
                <td>
                  "marketing directo"
                </td>
                <td>
                  Que contenga exactamente la frase
                </td>
              </tr>
              <tr>
                <td>
                  azul OR rojo
                </td>
                <td>
                  Que contengan "azul" o "rojo" o ambas.
                </td>
              </tr>
              <tr>
                <td>
                  salud -fitness
                </td>
                <td>
                  Que contenga la palabra "salud" pero no "fitness"
                </td>
              </tr>
              <tr>
                <td>
                  #hashtag
                </td>
                <td>
                  Que contenga el hashtag.
                </td>
              </tr>
              <tr>
                <td>@jack</td>
                <td>
                  Menciones a la cuenta @jack
                </td>
              </tr>

              <tr>
                <td>
                  to:jack
                </td>
                <td>
                  Dirigidos a la cuenta @jack
                </td>
              </tr>
              <tr>
                <td>
                  gatito filter:media
                </td>
                <td>
                  Que contenga la palabra 'gatito' e imágenes o vídeos
                </td>
              </tr>
              <tr>
                <td>
                  ferrari filter:images
                </td>
                <td>Que contenga la palabra 'ferrari' e imágenes</td>
              </tr>
              <tr>
                <td>
                  musica filter:videos
                </td>
                <td>
                  Que contenta la palabra 'musica' y vídeos
                </td>
              </tr>
              <tr>
                <td>
                  inspirador filter:links
                </td>
                <td>
                  Que contenga la palabra 'inspirador' con enlances web.
                </td>
              </tr>
              <tr>
                <td>
                  politica filter:safe
                </td>
                <td>
                  Que contengan 'politica' pero sin tweets marcados como potencialmente sensibles
                </td>
              </tr>
              <tr>
                <td>
                  viaje :)
                </td>
                <td>
                  Que contenga 'viaje' y en buena actitud
                </td>
              </tr>
              <tr>
                <td>
                  viaje :(
                </td>
                <td>
                  Que contenga 'viaje' y en mala actitud
                </td>
              </tr>
              <tr>
                <td>
                  viaje ?
                </td>
                <td>
                  Que contenga 'viaje' en tono de pregunta.
                </td>
              </tr>
            </table>
            <p>
              Cada uno de estas especificaciones pueden ser mezcladas para crear
              keywords más específicos.
            </p>
          </div>
        </div>
    </div>
    <div class="col-sm-4 left-separator" style="min-height: 45em">
      <h3>Activas</h3>
      <table class="table table-striped">
        <tbody>

          {% for audience in account_selected.active_audiences %}
          <tr>
            <td>{{audience.search_query}}</td>
          <td>

              {% if audience.get_successful_rate() %}
                {{audience.get_successful_rate()}} %
              {% else %}
                --
              {% endif %}
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
  <script type="text/javascript" src="/js/endpoints_loader.js"></script>
  <script type="text/javascript" src="/js/keywords_editor.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=init"></script>
{% endblock %}
