
{% extends 'boilerplate.html' %}

{% block page_meta %}
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/css/libs/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/landing_page.css" />
    <link rel="stylesheet" href="/css/styles_font.css">
{% endblock %}

{% block page_content %}
<div id="wrap">
   <div id="header">
        <nav class="menu navbar navbar-default navbar-fixed-top" >
            <div class="container-fluid extend">        
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Desplegar navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="logo navbar-brand" href="#">Socializr</a>
                </div>
            
                <div class="collapse navbar-collapse" id="menu-navbar-collapse">      
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#price">Precios</a></li>
                        <li><a href="{{login_url}}">Ingresar</a></li>        
                        <li><a href="{{signup_url}}" class="text-uppercase">Registrarme</a></li>    
                    </ul>
                </div>
            </div>
        </nav>
   </div>
   <div id="content">
        <section class="highlighted top bg-purple">
            <div class="container text-center">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <div class="row">
                            <h1 class="title">
                                Incrementa día a día tu comunidad de seguidores en Twitter mediante Marketing Automatizado
                            </h1>
                        </div>
                        <div class="row">
                            <a href="{{signup_url}}" class="btn btn-white btn-lg" role="button">Comenzar ahora</a>
                        </div>
                        <div class="row">
                            <span>Inicia con 15 días gratis</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="highlighted">
            <div class="container">
                <div class="row text-center">
                    <h2 class="title title-color">¿Cómo funciona?</h2>
                </div>

                <div class="row text-center">
                    <div class="col-xs-12 col-sm-4">
                        <div class="item">
                            <i class="icon-arrow-streamline-target"></i>
                            <p>Define tus audiencias objetivo mediante diferentes parámetros de búsqueda.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="item">
                            <i class="icon-bubble-love-streamline-talk"></i>
                            <p>Cada día Socializr ejecutará interacciones para atraer potenciales seguidores a tu perfil.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="item">
                            <i class="icon-dashboard-speed-streamline"></i>
                            <p>Monitorea, descarta y prueba nuevas audiencias para mejorar tu adquisición de seguidores.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="price" class="highlighted bg-purple">
            <div class="container">
                <div class="row text-center">
                    <h2 class="title title-default">Precios</h2>
                </div>

                <div class="row text-center">
                    <div class="col-xs-12 col-sm-6 col-lg-4 col-lg-offset-2">
                        <div class="item nopadding-r">
                            <div class="widget pull-right-sm">
                                <h4 class="text-uppercase">Costo por cuenta</h4>
                                <span><strong>${{price}} </strong></span>
                                <p>mensual</p>
                                <hr class="hr">
                                <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tbody><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/es/webapps/mpp/paypal-popup" title="Cómo funciona PayPal" onclick="javascript:window.open('https://www.paypal.com/es/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/logotipo_paypal_seguridad.png" border="0" alt="Now accepting PayPal" /></a><div style="text-align:center"><a href="https://www.paypal.com/es/webapps/mpp/why" target="_blank"><font size="2" face="Arial" color="#0079CD"><strong>Cómo funciona PayPal</strong></font></a></div></td></tr></tbody></table><!-- PayPal Logo -->
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="item">
                            <div class="pull-left-sm">
                                <div>
                                    <div class="row">
                                        <div>
                                            <h3> Prueba gratuita por</h3>
                                            <strong class="text-uppercase"> 15 días</strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <a href="{{signup_url}}" class="btn btn-white btn-lg">Comenzar ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="highlighted info bg-gray">
            <div class="container text-center">
                <h3>Ante cualquier duda o solicitud contáctanos al correo</h3>
                <p>
                   <a href="mailto:hola@socializr.co" role="button">hola@socializr.co</a>
                </p>
            </div>
        </section>
   </div>
</div>
<div id="footer">
    <div class="container-fluid extend text-center">
        <a href="/" class="logo">Socializr</a>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/css/libs/bootstrap/js/bootstrap.min.js"></script>
<script></script>
{% endblock %}

