
{% extends "boilerplate.html" %}

{% block page_title %}
  Twitter Tools - Extensión de Cuenta {{account_selected.screen_name}}
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/css/libs/bootstrap.min.css" />
  <!-- <link rel="stylesheet" href="/css/libs/bootstrap-theme.min.css" /> -->
  <link rel="stylesheet" href="/css/extension_form.css" />
{% endblock %}

{% block page_content %}
  <div class="user">
    {{user.email}} <a href="{{logout_url}}">Salir</a>
  </div>
  <div class="container text-center" style="margin-top: 10em;">
    <div class="row">
      <div class="col-sm-12">
        <h3>
          Su pago ha sido recibido con éxito.
        </h3>
        <h4>
          Le informaremos cuando sea procesado, momento desde el cual dispondrá de 30 días más de suscripción en su cuenta @{{account_selected.screen_name}}.
        </h4>
      </div>
    </div>
    <div class="row" style="margin-top: 2em">
      <div class="col-md-12">
        <a href="{{url_dashboard}}" class="btn btn-success btn-lg">Ir al Dashabord</a>
      </div>
    </div>
  </div>

  <!-- Google Code for Pago suscripci&oacute;n VEF Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 935990861;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "JJtyCJnT_XEQzayovgM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/935990861/?label=JJtyCJnT_XEQzayovgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>



{% endblock %}
