
{% extends 'boilerplate.html' %}

{% block page_title %}
	Registro - 
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/css/libs/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/login.css" />
{% endblock %}

{% block page_content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-4 col-sm-4 well" style="margin-top: 2em;">
				<h1 class="logo">
					<a href="/">Socializr</a> 
				</h1>
				<h2 class="text-center">Registrate</h2>
				<form action="/signup" method="POST">
					<input class="form-control" type="email" name="email" placeholder="Correo" required value="{{user_email}}" /><br/>
					<input class="form-control" type="password" name="password" placeholder="Contraseña" required /><br/>
					{% if error_message %}
						<p class="form text-danger">{{error_message}}</p>
					{% endif %}
					<input class="btn btn-primary btn-block" type="submit" value="Registrarme" />
					<div class="aditional">
						¿Ya tienes cuenta? <a href="{{login_url}}">Ingresa aquí</a>
					</div>
					
				</form>
			</div>
		</div>

	</div>
{% endblock %}